.mobile_hero_section {
  width: 100%;
  height: auto;
  border: 1px solid red;
  margin-top: 20.51vw;
}
.mobile_hero_section .video_box {
  width: 100%;
  height: auto;
  border: 1px solid red;
}
.mobile_hero_section .video_box video {
  width: 100%;
  height: fit-content;
}
.mobile_hero_section > p {
  width: 100%;
  /* font-size: ; */
  text-align: center;
  margin-top: 14.62vw;
  border: 1px solid red;
}
.mobile_hero_section .btn_box {
  width: 51.28%;
  height: 39.23vw;
  border: 1px solid red;
  margin: 0 auto;
  margin-top: 14.62vw;
  margin-bottom: 28vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mobile_hero_section .btn {
  width: 100%;
  height: 27.45%;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}
