.Conect_container {
  width: 100%;
  height: 90.95vw;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Conect_container .article {
  width: 86.14vw;
  height: 84.56%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.Conect_container .article_box1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Conect_container .article_box1 p {
  font-size: 1.04vw;
  text-align: center;
}

.Conect_container .title {
  width: 29.55vw;
  height: 38.75%;
  background-color: #f0f8fb;
  border-radius: 1.25vw;
  border: solid 1px #3aa1cd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Conect_container .title p {
  width: 100%;
  color: #3aa1cd;
  font-weight: 600;
}

.Conect_container .article2 {
  width: 100%;
  height: 48.11%;
  display: flex;
  justify-content: space-between;
}

.Conect_container .article_box2 {
  width: 48.68%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.Conect_container .article_box2 > p {
  width: 100%;
  font-size: 1.44vw;
  font-weight: 600;
}

.Conect_container .form_box {
  width: 100%;
  height: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 0.63vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Conect_container .form_box form {
  width: 94%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.04vw;
  gap: 0.6vw;
}

.Conect_container .form_box form > div:nth-child(2),
.Conect_container .form_box form > div:nth-child(3) {
  display: none;
}

.Conect_container .form_box label {
  font-size: 0.84vw;
  font-weight: 600;
}

.Conect_container .form_box .form_flex {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  gap: 0.52vw;
  flex-wrap: wrap;
}

.Conect_container .form_box .form_label {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-size: 0.84vw;
  justify-content: space-between;
  margin: 0;
}

.Conect_container .form_box form input {
  width: 100%;
  height: 1.92vw;
  border: none;
  background-color: #f5f5f5;
  font-size: 0.84vw;
  outline: none;
  border-radius: 0.2vw;
  padding-top: 0.4vw;
  padding-bottom: 0.4vw;
}

.Conect_container .form_box form input::placeholder {
  color: #757575;
  padding-left: 0.4vw;
}

.Conect_container .form_box form select {
  width: 100%;
  height: 2.29vw;
  border: 1px solid #1a1a1a;
  background-color: #fff;
  font-size: 0.84vw;
  border-radius: 0.2vw;
  padding: 0.4vw 0 0.4vw 0.4vw;
  appearance: none;
}

.Conect_container select:focus {
  outline: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.Conect_container .form_box form option {
  width: 100%;
  font-size: 0.84vw;
}

.Conect_container .form_box form textarea {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #f5f5f5;
  outline: none;
  border-radius: 0.2vw;
  resize: none;
}

.Conect_container .form_box form textarea::placeholder {
  font-size: 0.8vw;
  color: #757575;
  padding-left: 0.4vw;
}

.Conect_container .form_box button {
  width: 100%;
  height: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3aa1cd;
  color: #fff;
  border-radius: 0.2vw;
  border: none;
  padding: 1.04vw;
  font-size: 1.04vw;
  margin-top: auto;
}

.Conect_container .info_box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Conect_container .info_content {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  gap: 1.04vw;
  background-color: #f0f8fb;
  border-radius: 0.63vw;
}

.Conect_container .info_img {
  width: 10vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Conect_container .info_img img {
  width: 3vw;
}

.Conect_container .info_text {
  width: 80%;
}

.Conect_container .info_text p {
  font-size: 0.84vw;
  margin: 0;
}

.Conect_container .info_text p:nth-child(1) {
  font-weight: 600;
}

.Conect_container .article_box3 {
  width: 100%;
  height: 42.1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}

.Conect_container .sns_text {
  width: 100%;
  height: 12vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.Conect_container .sns_text p:nth-child(1) {
  font-size: 1.44vw;
  font-weight: 600;
  margin: 0;
}

.Conect_container .sns_text p:nth-child(2) {
  font-size: 0.84vw;
  margin: 0;
}
.Conect_container .sns_box {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.Conect_container .sns_content {
  width: 12%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 0.63vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Conect_container .sns_content a:hover {
  transform: translateY(-4px);
  transition: all 0.3s ease;
}

.Conect_container .sns_content a {
  text-decoration: none;
  color: inherit;
}

.Conect_container .sns_content img {
  width: 2.52vw;
}

.Conect_container .sns_content_text {
  width: 100%;
  height: 50%;
}

.Conect_container .sns_content_text {
  font-weight: 600;
  font-size: 0.96vw;
}

.Conect_container .newsletter_box {
  width: 100%;
  height: 12.36vw;
  background-color: #3aa1cd;
  border-radius: 0.63vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.4vw;
}

.Conect_container .newsletter_box p {
  font-size: 0.84vw;
  color: #fff;
}

.Conect_container .newsletter_box p:nth-child(1) {
  font-size: 1.04vw;
  font-weight: 600;
  margin: 0;
}

.Conect_container .newsletter_form {
  width: 36.46vw;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.52vw;
}

.Conect_container .newsletter_form input {
  width: 70%;
  height: 1.48vw;
  border: 1px solid #fff;
  border-radius: 0.42vw;
  background-color: transparent;
  color: #fff;
  padding-left: 0.8vw;
  font-size: 0.84vw;
}

.Conect_container .newsletter_form input::placeholder {
  color: #fff;
  opacity: 0.7;
}

.Conect_container .newsletter_form input:focus {
  outline: none;
}

.Conect_container .newsletter_form button {
  width: 6.25vw;
  height: 1.72vw;
  border: none;
  border-radius: 0.42vw;
  background-color: #fff;
  color: #3aa1cd;
  font-size: 0.84vw;
  cursor: pointer;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .Conect_container {
    height: 220.8vw;
  }
  .Conect_container .article_box1 {
    height: auto;
    display: flex;
    justify-content: space-between;
  }
  .Conect_container .article_box1 p {
    font-size: 2.04vw;
  }
  .Conect_container .title {
    height: 4.32vw;
  }
  .Conect_container .article2 {
    width: auto;
    height: 122.44vw;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Conect_container .article_box2 {
    width: 82.4%;
    height: 90%;
  }
  .Conect_container .article_box2 > p {
    font-size: 2.04vw;
    margin-top: auto;
  }
  .Conect_container .info_box {
    height: 41.2vw;
    margin-top: 0;
    justify-content: space-around;
  }
  .Conect_container .info_img {
    width: 10vw;
  }
  .Conect_container .info_img img {
    width: 5vw;
  }
  .Conect_container .info_text {
    width: 90%;
  }
  .Conect_container .info_text > p {
    font-size: 2vw;
  }
  .Conect_container .form_box {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
  }
  .Conect_container .form_box form {
    height: 52.4vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Conect_container .form_box .form_flex {
    display: none;
  }
  .Conect_container .form_box label {
    font-size: 1.6vw;
    margin: 0;
    padding: 0;
    height: auto;
  }
  .Conect_container .form_box .form_label > input {
    width: auto;
    font-size: 1.72vw;
    height: 3vw;
    margin: 0;
  }
  .Conect_container .form_flex .form_label > input {
    height: 3vw;
  }
  .Conect_container .form_box form select {
    width: auto;
    height: 3.32vw;
    font-size: 1.48vw;
  }
  .Conect_container .form_box form option {
    width: 100%;
    font-size: 1.92vw;
  }
  .Conect_container .form_box form input::placeholder {
    font-size: 1.6vw;
    margin: auto 0;
  }
  .Conect_container .form_box form textarea {
    width: 65.8vw;
  }
  .Conect_container .form_box form textarea::placeholder {
    font-size: 1.6vw;
  }
  .Conect_container .form_box button {
    height: 2.88vw;
    font-size: 1.72vw;
  }
  .Conect_container .sns_text p:nth-child(1) {
    font-size: 2.32vw;
  }
  .Conect_container .sns_text p:nth-child(2) {
    font-size: 1.84vw;
    margin: auto;
  }
  .Conect_container .sns_box {
    height: 100%;
    margin: auto;
  }
  .Conect_container .sns_content {
    width: 13.2vw;
  }
  .Conect_container .sns_content img {
    width: 3.2vw;
  }
  .Conect_container .sns_content_text {
    font-size: 1.6vw;
  }
  .Conect_container .newsletter_box {
    width: 100%;
    height: 28vw;
  }
  .Conect_container .newsletter_box p:nth-child(1) {
    font-size: 2.24vw;
  }
  .Conect_container .newsletter_box p {
    font-size: 1.84vw;
    margin: 0;
  }
  .Conect_container .newsletter_form input {
    height: 2.8vw;
  }
  .Conect_container .newsletter_form input::placeholder {
    font-size: 1.4vw;
  }
  .Conect_container .newsletter_form button {
    width: 8vw;
    height: 3.6vw;
    font-size: 1.36vw;
  }
}
@media screen and (min-width: 390px) and (max-width: 499px) {
  .Conect_container .form_box form > div:nth-child(2),
  .Conect_container .form_box form > div:nth-child(3) {
    display: flex;
  }
}
@media screen and (max-width: 499px) {
  .Conect_container {
    height: 489.74vw;
    width: 100%;
  }
  .Conect_container .article {
    height: 444.61vw;
    width: 100%;
  }
  .Conect_container .article_box1 {
    margin: 0 auto;
    width: 92.3vw;
    height: 34.44vw;
    gap: 7.78vw;
  }
  .Conect_container .title {
    width: 61.11vw;
    height: 12.3vw;
    border-radius: 10.9vw;
  }
  .Conect_container .article_box1 p {
    font-size: 5.56vw;
    margin: 0;
  }
  .Conect_container .article2 {
    height: 252.56vw;
    width: 100%;
  }
  .Conect_container .article_box2 {
    height: 128.09vw;
    gap: 8.14vw;
  }
  .Conect_container .article_box2 > p {
    font-size: 5.13vw;
    text-align: center;
    margin: auto;
  }
  .Conect_container .form_box {
    width: 88.2vw;
    height: 122.09vw;
    border-radius: 4.65vw;
  }
  .Conect_container .form_box > form {
    width: 89.53%;
    height: 81.52vw;
    margin: auto 0;
    gap: 2.6vw;
  }
  .Conect_container .form_box form > div:nth-child(n):nth-child(-n + 1) {
    display: none;
  }
  .Conect_container .form_box .form_label {
    justify-content: start;
    gap: 1.2vw;
    height: 15.9vw;
  }
  .Conect_container .form_label label {
    font-size: 3.58vw;
  }
  .Conect_container .form_box .form_label > input {
    height: 7.79vw;
    border-radius: 1.3vw;
  }
  .Conect_container .form_box .form_label > input::placeholder {
    font-size: 3.68vw;
    height: auto;
    line-height: normal;
    padding: 1.6vw 1.2vw;
  }
  .Conect_container .form_box form select {
    height: 7.79vw;
    border-radius: 1.3vw;
    font-size: 3.68vw;
  }
  .Conect_container .form_label select option {
    font-size: 3.68vw;
  }
  .Conect_container .form_box label {
    font-size: 3.58vw;
  }
  .Conect_container .form_box form textarea {
    width: 77.95vw;
    height: auto;
  }
  .Conect_container .form_box form textarea::placeholder {
    font-size: 3.68vw;
  }
  .Conect_container .form_box button {
    height: 7.79vw;
    border-radius: 1.3vw;
    font-size: 3.68vw;
  }
  .Conect_container .article_box2 {
    width: auto;
    height: 128.46vw;
    gap: 7.18vw;
  }
  .Conect_container .article_box2 p {
    padding: 0;
    margin-bottom: 0;
  }
  .Conect_container .info_box {
    width: 93.33%;
    height: 85.04vw;
    gap: 7.69vw;
  }
  .Conect_container .info_content {
    width: 93.33%;
    height: 34.07vw;
    border-radius: 2.2vw;
    gap: 11.11vw;
    margin: 0 auto;
    padding: 0 4vw;
  }
  .Conect_container .info_img img {
    width: 100vw;
  }
  .Conect_container .info_text {
    width: 100%;
    gap: 2.47vw;
  }
  .Conect_container .info_text p {
    font-size: 3.59vw;
    margin: 0;
  }
  .Conect_container .info_text p:nth-child(1) {
    font-weight: 600;
  }
  .Conect_container .article_box3 {
    width: 100%;
    height: 135.64vw;
    display: flex;
    align-items: center;
  }
  .Conect_container .sns_text {
    height: 12.56vw;
  }
  .Conect_container .sns_text p:nth-child(1) {
    font-size: 5.13vw;
  }
  .Conect_container .sns_text p:nth-child(2) {
    font-size: 3.18vw;
  }
  .Conect_container .sns_box {
    display: flex;
    flex-wrap: wrap;
    height: 56.02vw;
    width: 90%;
    gap: 6.15vw;
    justify-content: flex-start;
  }
  .Conect_container .sns_content {
    width: 24.28vw;
    height: 24.28vw;
    margin: 0;
    display: flex;
  }
  .Conect_container .sns_content img {
    width: 12.3vw;
  }
  .Conect_container .sns_content_text {
    display: none;
  }
  .Conect_container .newsletter_box {
    width: 98.33vw;
    height: 57.43vw;
    border-radius: 3.3vw;
    margin: auto 0;
  }
  .Conect_container .newsletter_box > p:nth-child(1) {
    font-size: 5.13vw;
  }
  .Conect_container .newsletter_box > p:nth-child(2) {
    font-size: 3.49vw;
    text-align: center;
  }
  .Conect_container .newsletter_form {
    flex-direction: column;
    width: 77.95vw;
    height: 27.63vw;
    gap: 3.07vw;
  }
  .Conect_container .newsletter_form input {
    width: 100%;
    height: 9.23vw;
    border-radius: 1.94vw;
  }
  .Conect_container .newsletter_form input::placeholder {
    font-size: 3.49vw;
  }
  .Conect_container .newsletter_form button {
    width: 100%;
    height: 9.23vw;
    border-radius: 1.94vw;
    font-size: 3.49vw;
  }
}
