.header {
  width: 100%;
  transition: all 0.3s ease;
  position: fixed;
  z-index: 999;
  height: 5.2%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header.hidden {
  display: none;
}

.header.visible {
  display: block;
}

.header .article {
  width: 93.67%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.header_logo {
  display: flex;
}

.header_logo img {
  width: 2.4vw;
}

.header_nav {
  display: flex;
  gap: 2.08vw;
  justify-content: center;
  align-items: center;
}

.header_nav p {
  font-size: 1.04vw;
  font-weight: 500;
  color: #1a1a1a;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
}

.header_language select {
  width: 4.4vw;
  align-items: center;
  font-size: 0.84vw;
  text-align: center;
  color: #1a1a1a;
  cursor: pointer;
  background-color: #3aa1cd;
  color: #fff;
  border: none;
  padding: 0.4vw 0.2vw;
  appearance: none;
  border-radius: 0.2vw;
}

.header_language select:focus {
  outline: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.header_language select option {
  border: none;
  outline: none;
}

@media screen and (max-width: 768px) {
  .header_nav p {
    font-size: 1.24vw;
  }

  .header_language select {
    font-size: 1.04vw;
  }
}

@media screen and (max-width: 500px) {
  .header_language select option {
    width: auto;
    font-size: 2.12vw;
  }
  .header_nav p {
    font-size: 1.6vw;
  }
}
