.header {
  width: 100%;
  height: auto;
  transition: all 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1vw;
  z-index: 9999;
}

.header.hidden {
  display: none;
}

.header.visible {
  display: flex;
  position: relative;
}

.header .article {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.header_logo {
  width: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_logo img {
  width: 2.4vw;
}

.header_nav {
  display: flex;
  gap: 2.08vw;
  justify-content: center;
  align-items: center;
}

.header_nav p {
  font-size: 1.04vw;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

.header_language {
  width: 20vw;
}

.header_language select {
  width: 4.4vw;
  align-items: center;
  font-size: 0.84vw;
  text-align: center;
  cursor: pointer;
  background-color: #3aa1cd;
  color: #fff;
  border: none;
  padding: 0.4vw 0.2vw;
  appearance: none;
  border-radius: 0.2vw;
}

.header_language select:focus {
  outline: none;
}

.header_language select option {
  border: none;
  outline: none;
}

.menu {
  display: none;
  font-size: 6.15vw;
  cursor: pointer;
  position: relative;
  z-index: 1001;
}

.mobile_menu {
  display: none;
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  background: #fff;
  flex-direction: column;
  padding: 5.13vw;
  gap: 5.13vw;
  text-align: left;
  z-index: 1001;
  border: 1px solid #fff;
  z-index: 999;
}

.mobile_menu p {
  font-size: 4.1vw;
  font-weight: 500;
  cursor: pointer;
  z-index: 999;
  position: relative;
}

.mobile_menu.open {
  display: flex;
  gap: 6vw;
  position: fixed;
}

.mobile_lang .active.ko {
  color: #3aa1cd;
  font-weight: 500;
}

.mobile_lang .active.en {
  color: #3aa1cd;
  font-weight: 500;
}

.bglayout {
  position: absolute;
  margin-top: 40.51vw;
  top: 0;
  left: 0;
  width: 100vw;
  height: 800vw;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: all;
  pointer-events: none;
  z-index: 998;
}

/* language 버튼 */
.custom_select {
  width: 6vw;
  height: auto;
  position: relative;
  cursor: pointer;
  user-select: none;
  font-size: 0.97vw;
  border: 1px solid #000;
  border-radius: 0.28vw;
  z-index: 1000;
}

.custom_select .selected {
  width: 100%;
  height: 2.4vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 0.84vw;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  border: none;
  padding: 0.4vw 0.2vw;
  border-radius: 0.2vw;
}

.custom_select .selected img {
  width: 1.44vw;
  vertical-align: middle;
}

.custom_select .selected span {
  font-size: 1.36vw;
  font-weight: 600;
  vertical-align: middle;
}

.selected .select.no {
  width: 100%;
  height: 1.44vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.custom_select .options {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  color: #000;
  border-radius: 0.28vw;
  margin-top: 0.12vw;
  width: 100%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.custom_select .option {
  padding: 0.55vw 0.69vw 0.55vw 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.custom_select .option img {
  width: 1.44vw;
}

.option.icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .header_nav p {
    font-size: 1.48vw;
  }

  .header_language select {
    font-size: 1.24vw;
  }
}

@media screen and (max-width: 700px) {
  .header_logo {
    width: 8.4vw;
    justify-content: start;
  }
  .header_logo img {
    width: 3.84vw;
  }
  .header_language select {
    width: 8.4vw;
    height: 100%;
    font-size: 2.4vw;
  }
  .header_language select option {
    width: auto;
    font-size: 2.72vw;
  }
  .header_nav p {
    font-size: 2.74vw;
  }
}

@media screen and (max-width: 500px) {
  .header_nav {
    display: none;
  }
  .header_language {
    height: auto;
  }
  .menu {
    display: flex;
  }
  .header {
    width: 100%;
    height: auto;
  }
  .header.visible {
    position: fixed;
    height: 18.2vw;
  }
  .header .article {
    width: 100%;
    height: 18vw;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1.2vw 2.12vw;
    background-color: #fff;
  }
  .header_logo {
    width: 100%;
    height: 100%;
  }
  .header_logo img {
    width: 13.13vw;
  }
  /* language option */
  .custom_select {
    width: 17.8vw;
    height: auto;
    position: relative;
    cursor: pointer;
    user-select: none;
    font-size: 3.24vw;
    border: 1px solid #000;
    border-radius: 0.4vw;
    display: flex;
    margin-right: 2vw;
  }

  .custom_select .selected {
    width: 100%;
    height: 6.8vw;
    display: flex;
    align-items: center;
    font-size: 3.24vw;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    border: none;
    padding: 0.4vw 0.2vw;
    gap: 1.2vw;
    border-radius: 0.4vw;
  }

  .custom_select .selected img {
    width: 3.6vw;
    height: 3.6vw;
    vertical-align: middle;
  }

  .custom_select .selected span {
    height: 100%;
    font-size: 3.6vw;
    vertical-align: middle;
  }

  .selected .select.no {
    width: 100%;
    height: 4.12vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .custom_select .options {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    background: #fff;
    color: #000;
    border-radius: 0.28vw;
    margin-top: 0.12vw;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  }

  .custom_select .option {
    padding: 0.55vw 0.69vw 0.55vw 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .custom_select .option img {
    width: 3.44vw;
  }

  .option.icon {
    display: none;
  }
}
