.header_container {
  width: 100%;
  height: 5.2%;
  background-color: #fff;
  display: flex;
  padding: 0.4vw 0;
  align-items: center;
  justify-content: center;
  position: fixed;
}

.header_container .article {
  width: 93.67%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_logo {
  display: flex;
}

.header_logo img {
  width: 2.4vw;
}

.header_nav {
  display: flex;
  gap: 2.08vw;
  justify-content: center;
  align-items: center;
}

.header_nav p {
  font-size: 1.04vw;
  font-weight: 500;
  color: #1a1a1a;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
}

.header_language select {
  width: 4.4vw;
  align-items: center;
  font-size: 0.84vw;
  text-align: center;
  color: #1a1a1a;
  cursor: pointer;
  background-color: #3aa1cd;
  color: #fff;
  border: none;
  padding: 0.4vw 0.2vw;
  appearance: none;
  border-radius: 0.2vw;
}

.header_language select:focus {
  outline: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.header_language select option {
  border: none;
  outline: none;
}

@media screen and (max-width: 768px) {
  .header_nav p {
    font-size: 1.24vw;
  }

  .header_language select {
    font-size: 1.04vw;
  }
}
