.Hero_container {
  width: 100%;
  height: 42.25vw;
  /* background: linear-gradient(165deg, #fff, #acd8ea); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.Hero_container .article {
  width: 81.31vw;
  height: 46.11%;
  display: flex;
  justify-content: space-between;
}

.Hero_container .article_box1 {
  width: 44vw;
  height: 36.8%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Hero_container .article_box1 > p:first-child {
  display: flex;
  align-items: center;
  font-size: 0.84vw;
  color: #3aa1cd;
}

.Hero_container .article_box1_p1 {
  max-width: 94%;
  font-size: 2.28vw;
  font-weight: 600;
  line-height: 2.7vw;
  margin: 0vw;
  align-items: center;
}

.Hero_container .article_box1_p1 span {
  color: #3aa1cd;
  padding: 0;
  vertical-align: baseline;
}

.Hero_container .article_box1_p2 {
  max-width: 94%;
  font-size: 1.16vw;
}

.Hero_container .button_container {
  width: 32vw;
  height: 40.07%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.04vw;
}

.Hero_container .button_box {
  width: 28vw;
  height: 4.8vw;
  display: flex;
  font-size: 1.04vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Hero_container .box1 {
  width: 100%;
  height: 2vw;
  color: #fff;
  background-color: #3aa1cd;
  border-radius: 0.63vw;
  padding: 0.2vw 0.4vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.Hero_container .box2 {
  width: 48.22%;
  height: 2vw;
  color: #000;
  background-color: #fff;
  border-radius: 0.63vw;
  border: solid 1px #1a1a1a;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin-right: 1vw;
}

.Hero_container .box2:last-child {
  margin: 0;
}

.Hero_container .button_box img {
  width: 1.96vw;
  height: 1.96vw;
  margin-right: 0.52vw;
}

img,
span {
  vertical-align: middle;
}

.Hero_container .article_box2 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vw;
}

.Hero_container .article_box2 video {
  width: 50vw;
  height: 100%;
  border-radius: 0.63vw;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .Hero_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8.4vw;
  }

  .Hero_container .article {
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .Hero_container .article_box1 {
    height: 40vw;
    width: auto;
    justify-content: center;
    align-items: center;
  }

  .Hero_container .article_box1 p:first-child {
    font-size: 1.32vw;
  }

  .Hero_container .article_box1_p1 {
    font-size: 2.48vw;
  }

  .Hero_container .article_box1_p2 {
    font-size: 1.44vw;
  }

  .Hero_container .button_box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Hero_container .article_box2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media all and (min-width: 480px) and (max-width: 767px) {
  .Hero_container {
    padding-top: 10.4vw;
  }
}

@media screen and (max-width: 479px) {
  .Hero_container {
    padding-top: 13.6vw;
  }
}

@media screen and (max-width: 500px) {
  .Hero_container {
    width: 100%;
    height: auto;
  }
  .Hero_container .article_box1 > p:first-child {
    font-size: 1.72vw;
  }
  .Hero_container .article_box1 {
    width: 50vw;
    height: 100%;
    margin-bottom: auto;
  }
  .Hero_container .article_box1_p1 {
    font-size: 3.12vw;
    line-height: 1.1;
  }
  .Hero_container .article_box1_p2 {
    font-size: 1.92vw;
  }
  .Hero_container .button_container {
    height: 17.78vw;
    display: flex;
    justify-content: space-between;
  }
  .Hero_container .button_box {
    width: 100%;
    height: 36.43%;
    font-size: 2.17vw;
  }
  .Hero_container .button_box:first-child {
    height: 4.85vw;
    margin: 0;
  }
  .Hero_container .box1 {
    height: 100%;
  }
  .Hero_container .button_box:nth-child(2) {
    height: 66.43%;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
  }
  .Hero_container .button_box:nth-child(2) .box2 {
    width: 100%;
    height: 4.85vw;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
