.Intro_container {
  width: 100%;
  height: 48.83vw;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Intro_container .article {
  width: 71.8vw;
  height: 83.07%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Intro_container .article_box1 {
  width: 100%;
  height: 17.65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Intro_container .article_box1 p {
  font-size: 1.04vw;
  text-align: center;
}

.Intro_container .title {
  width: 29.55vw;
  height: 38.75%;
  background-color: #f0f8fb;
  border-radius: 1.25vw;
  border: solid 1px #3aa1cd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Intro_container .title p {
  width: 100%;
  color: #3aa1cd;
  font-weight: 600;
}

.Intro_container .article_box2 {
  width: 71.8vw;
  height: 28.44%;
  display: flex;
  justify-content: space-between;
}

.Intro_container .main_box {
  height: 100%;
  width: 45.84%;
  gap: 0.5vw;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}

.Intro_container .bg_box {
  width: 47.41%;
  height: 46%;
  display: flex;
  align-items: center;
  padding-left: 0.8vw;
  padding-right: 0.48vw;
  gap: 0.3vw;
  background-color: #f0f8fb;
  border-radius: 0.63vw;
}

.Intro_container .bg_box2 {
  width: 100%;
  height: 100%;
  background-color: #f0f8fb;
  border-radius: 0.63vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Intro_container .bg_box2 p {
  width: 94.4%;
  padding-left: 0.8vw;
}

.Intro_container .bg_box2 > p:first-child {
  font-size: 1.04vw;
  font-weight: 600;
  margin-bottom: 0.2vw;
}

.Intro_container .bg_box2 > p:nth-child(2) {
  font-size: 0.84vw;
  margin-top: 0;
}

.Intro_container .bg_img {
  width: 4.48vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Intro_container .bg_img img {
  width: 2.4vw;
}

.Intro_container .bg_text {
  width: 100%;
  height: 50%;
  font-size: 0.72vw;
  display: flex;
  flex-direction: column;
  padding-right: 0.4vw;
}

.Intro_container .bg_text p {
  margin-top: 0;
  width: 92%;
  margin: 0;
}

.Intro_container .article_box3 {
  width: 100%;
  height: 34.06%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Intro_container .main_box2 {
  width: 100%;
  height: 36vw;
  display: flex;
  justify-content: space-between;
}

.Intro_container .article_box3 > p {
  text-align: center;
  font-size: 1.24vw;
  font-weight: 600;
}

.Intro_container .bg_box3 {
  width: 20vw;
  height: 8.84vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0.2vw;
  border-radius: 0.63vw;
}

.Intro_container .bg_box3 div {
  width: 2vw;
  height: 2vw;
  background-color: #f0f8fb;
  border-radius: 0.42vw;
  padding: 0.8vw 1.04vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Intro_container .bg_box3 img {
  width: 1.92vw;
}

.Intro_container .bg_box3 p {
  font-size: 0.84vw;
}

.Intro_container .bg_box3 p:nth-child(3) {
  margin-top: 0;
  font-size: 0.72vw;
}

img,
div {
  vertical-align: middle;
}

@media screen and (max-width: 1280px) {
  .Intro_container .article_box1 p {
    font-size: 1.24vw;
  }

  .Intro_container .title p {
    line-height: 0.32vw;
  }

  .Intro_container .bg_box2 > p:first-child {
    font-size: 1.24vw;
  }

  .Intro_container .bg_box2 > p:nth-child(2) {
    font-size: 1.04vw;
  }

  .Intro_container .article_box3 > p {
    font-size: 1.44vw;
  }

  .Intro_container .bg_box3 p {
    font-size: 1.04vw;
  }

  .Intro_container .bg_text {
    font-size: 0.84vw;
  }
}

@media screen and (max-width: 1024px) {
  .Intro_container .bg_img img {
    width: 2.6vw;
  }
  .Intro_container .bg_box3 {
    height: 3.6vw;
  }
}

@media screen and (max-width: 479px) {
  .Intro_container {
    height: 56.4vw;
  }
  .Intro_container .bg_img img {
    width: 2vw;
  }
  .Intro_container .bg_box3 div img {
    height: 4vw;
  }
}

@media screen and (max-width: 700px) {
  .Intro_container {
    width: 100%;
    height: 96.4vw;
    margin-top: 4vw;
  }
  .Intro_container .article {
    width: 88vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Intro_container .article_box1 {
    width: 100%;
    height: 26.84%;
    display: flex;
    justify-content: space-between;
  }
  .Intro_container .title {
    height: 4.32vw;
  }
  .Intro_container .article_box1 p {
    font-size: 2.04vw;
  }
  .Intro_container .article_box2 {
    width: auto;
    height: 42.4vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .Intro_container .main_box {
    width: 100%;
    height: 32.48vw;
    display: flex;
    align-items: center;
  }
  .Intro_container .bg_box2 {
    height: 78.4%;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  .Intro_container .bg_box2 > p:first-child {
    font-size: 2.44vw;
  }

  .Intro_container .bg_box2 > p:nth-child(2) {
    font-size: 1.96vw;
  }
  .Intro_container .bg_box {
    display: flex;
    align-items: center;
    padding: 0;
    height: 48.4%;
  }
  .Intro_container .bg_img {
    width: 8vw;
  }
  .Intro_container .bg_img img {
    width: 4vw;
  }
  .Intro_container .bg_text {
    height: auto;
    font-size: 1.84vw;
  }
  .Intro_container .article_box3 {
    height: 50%;
    justify-content: center;
  }
  .Intro_container .article_box3 p {
    font-size: 2.44vw;
  }
  .Intro_container .main_box2 {
    height: auto;
  }
  .Intro_container .bg_box3 {
    width: 26vw;
    height: 20.4vw;
    padding-top: 1vw;
  }
  .Intro_container .bg_box3 div {
    width: 10vw;
    height: 5vw;
    padding: auto;
  }
  .Intro_container .bg_box3 div img {
    width: 4.8vw;
  }
  .Intro_container .bg_box3 p {
    width: 90%;
    font-size: 1.96vw;
  }
}

@media screen and (max-width: 499px) {
  .Intro_container {
    width: 100%;
    height: 391.79vw;
  }
  .Intro_container .article {
    height: 373.86vw;
    width: 90.26%;
    gap: 4.55vw;
  }
  .Intro_container .article_box1 {
    width: 100%;
    height: 43.18vw;
  }
  .Intro_container .title {
    width: 62.5%;
    height: 31.58vw;
    border-radius: 6.81vw;
  }
  .Intro_container .title p {
    font-size: 5.13vw;
  }
  .Intro_container .article_box1 p {
    width: 100%;
    font-size: 4.1vw;
  }
  .Intro_container .article_box2 {
    width: 100%;
    height: 150.58vw;
    gap: 11.71vw;
  }
  .Intro_container .article_box2 > div:nth-child(1) {
    height: 133.33vw;
    width: 80.9%;
    gap: 5.26vw;
  }
  .Intro_container .main_box {
    flex-wrap: nowrap;
  }
  .Intro_container .bg_box {
    width: 100%;
    height: 26.05vw;
    border-radius: 4.21vw;
    gap: 6.9vw;
  }
  .Intro_container .bg_img {
    margin-left: 4vw;
    height: 100%;
    width: 11.22vw;
  }
  .Intro_container .bg_img img {
    width: 11.22vw;
  }
  .Intro_container .bg_text {
    height: 100%;
    display: flex;
    justify-content: center;
    margin: auto 0;
  }
  .Intro_container .bg_text span {
    font-size: 4.1vw;
    font-weight: 600;
  }
  .Intro_container .bg_text p {
    font-size: 3.69vw;
  }
  .Intro_container .bg_box2 {
    height: 14.06%;
    background-color: #fff;
    text-align: center;
  }
  .Intro_container .article_box2 > div:nth-child(2) {
    width: 100%;
  }
  .Intro_container .bg_box2 p:nth-child(1) {
    margin: 0;
    font-size: 5.13vw;
  }
  .Intro_container .bg_box2 p:nth-child(2) {
    font-size: 4.1vw;
    width: 100%;
  }
  .Intro_container .article_box3 {
    height: 40.42%;
  }
  .Intro_container .article_box3 > p {
    font-size: 5.13vw;
  }
  .Intro_container .main_box2 {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
    height: 89.47%;
    gap: 8.4vw;
  }
  .Intro_container .bg_box3 {
    width: 100%;
    height: 27.73%;
  }
  .Intro_container .bg_box3 div {
    width: 18.07%;
    height: 39.39%;
    border-radius: 13.3%;
    padding: 0;
  }
  .Intro_container .bg_box3 div img {
    height: 46.15%;
    width: 40%;
  }
  .Intro_container .bg_box3 > p {
    font-size: 3.38vw;
  }
}
